.review-title{
    font-weight: 600;
    font-size: 150%;
    margin-left: 3%;
    width: 100%;
}

.product-display-review{
    width: 94%;
    height: 15vh;
    border-bottom: 1px solid black;
    margin: 1% 3% 0 3%;
}

.image-desc-review{
    width: 10%;
    float: left;
    margin: 5px 10px 5px 68px;
}

.order-item-body-1-desc{
    float: left;
    margin-top: 2.5%;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.rate{
    margin: 0 0 0 4%;
}

.rating{
    font-size: 90%;
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 94%;
    height: 18vh;
    margin: 0 3% 0 3%;
}

.rating-title{
    float: left;
    margin: 1% 0 1% 5%;
    width: inherit;
}

.rate-outer{
    width: inherit;
    height: 11vh;
    float: left;
}

.add-headline{
    margin: 0 0 0 5%;
}

.rating-last{
    font-size: 90%;
    font-weight: 500;
    width: 94%;
    height: 30vh;
    margin: 0 3% 0 3%;
}

.review-submit{
    margin: 0 0 0 7%;
    width: 100%;
    height: 10vh;
}

.order-item-body-1-desc-review{
    margin-top: 2%;
    float: left;
}