<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<Container>
    <Row>
        <Col sm={8}>
        <Card body outline color="success" className="mx-auto my-2">
            <CardBody>
                <p>Image here</p>
            </CardBody>
        </Card>
        </Col>
        <Col sm={6}>
        <Card body outline color="success" className="mx-auto my-2">
            <CardBody>
                <p>Button comes here</p>
            </CardBody>
        </Card>
        </Col>
    </Row>

    <hr/>
    <Row>
        <Col>
        <p>Product Description</p>
        </Col>
    </Row>
</Container>
</body>
</html>